.header {
  height: 40px;
  background-color: yellow;
  align-items: center;
  display: flex;
}
.footer {
  height: 40px;
  background-color: green;
  display: flex;
}
.navigation {
  margin: 0;
  display: flex;
  list-style-type: none;
  margin-left: 16px;
}
.navigation_item {
  margin-right: 10px;
}
.footer_text {
  margin: auto;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex-grow: 1;
  display: flex;
}
.dashboard {
  display: flex;
  flex-grow: 1;
  background-color: pink;
  justify-content: center;
  align-items: center;
}
.news {
  width: 200px;
  background-color: gray;
  justify-content: center;
  align-items: center;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news_item {
  margin: 16px;
  display: flex;
  height: 40px;
  list-style-type: none;
  flex-direction: column;
}
