body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 40px;
  background-color: yellow;
  display: flex;
  align-items: center;
}

.navigation {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.navigation li {
  margin-left: 16px;
}

main {
  display: flex;
  flex-grow: 1;
}

section {
  display: flex;
  flex-grow: 1;
  background-color: pink;
}

section h2 {
  margin: auto;
}

aside {
  display: flex;
  background-color: grey;
  width: 200px;
  flex-direction: column;
}

aside h2 {
  text-align: center;
  margin: 16px;
}

aside ul {
  margin: 0;
  padding: 0;
}

aside ul li {
  list-style-type: none;
  margin: 16px;
}

footer {
  display: flex;
  height: 40px;
  background-color: green;
}

span {
  margin: auto;
}
